@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html {
	display: grid;
	height: 100%;
	width: 100%;
	place-items: center;
	background: url(../../app/images/fh_bg_login_register.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	display: grid;
	height: 100%;
	width: 100%;
	place-items: center;
	background: url(../../app/images/fh_bg_login_register.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
span{
	font-size: 9pt;
	color: rgb(233, 25, 25);
}
.selection {
	background: #41d069;
	color: #fff;
}
.wrapper {
	width: 380px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
	.title {
		font-size: 35px;
		font-weight: 600;
		text-align: center;
		line-height: 100px;
		color: #fff;
		user-select: none;
		border-radius: 15px 15px 0 0;
		background: linear-gradient(135deg, #07894c, #0b5b27);
	}
	form {
		padding: 10px 30px 50px 30px;
		.field {
			height: 50px;
			width: 100%;
			margin-top: 40px;
			position: relative;
			input {
				height: 100%;
				width: 100%;
				outline: none;
				font-size: 17px;
				padding-left: 20px;
				border: 1px solid lightgrey;
				border-radius: 25px;
				transition: all 0.3s ease;
				&:focus {
					border-color: #41d056;
				}
			}
			label {
				position: absolute;
				top: 50%;
				left: 20px;
				color: #999999;
				font-weight: 400;
				font-size: 17px;
				pointer-events: none;
				transform: translateY(-50%);
				transition: all 0.3s ease;
			}
		}
	}
}
form {
	.field {
		input {
			&:valid {
				border-color: #41d056;
				~ {
					label {
						top: 0%;
						font-size: 16px;
						color: #41d07d;
						background: #fff;
						transform: translateY(-50%);
					}
				}
			}
			&:focus {
				~ {
					label {
						top: 0%;
						font-size: 16px;
						color: #41d07d;
						background: #fff;
						transform: translateY(-50%);
					}
				}
			}
		}
		button[type="submit"] {
			color: #fff;
			border: none;
			width: 100%;
			height: 100%;
			border-radius: 20px;
			padding-left: 0;
			margin-top: 10px;
			font-size: 20px;
			font-weight: 500;
			cursor: pointer;
			background: linear-gradient(-135deg, #1c922e, #052e09);
			transition: all 0.3s ease;
			&:active {
				transform: scale(0.95);
			}
			&:hover{
				scale: 1.07;
				background: linear-gradient(-135deg, #178026, #032707);
			}
		}
	}
	.content {
		display: flex;
		width: 100%;
		height: 50px;
		font-size: 16px;
		align-items: center;
		justify-content: space-around;
		.checkbox {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		input {
			width: 15px;
			height: 15px;
			background: red;
		}
		label {
			color: #262626;
			user-select: none;
			padding-left: 5px;
		}
		.pass-link {
			color: "";
		}
	}
	.signup-link {
		color: #262626;
		margin-top: 20px;
		text-align: center;
		a {
			color: #41d06e;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.pass-link {
		a {
			color: #41d06e;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
