<head>
  <meta charset="utf-8" />
</head>
<body>
  <div class="wrapper">
    <div class="title">Login Form</div>
    <form name="loginForm" [formGroup]="loginForm" (submit)="submit()">
      <div class="field">
        <input id="username" type="text" required formControlName="username" />
        <label>Username</label>
        <span
          *ngIf="
            loginForm.controls.username?.errors?.required &&
            loginForm.controls.username?.touched
          "
          >*User name is required</span
        >
      </div>
      <div class="field">
        <input
          id="password"
          type="password"
          required
          formControlName="password"
        />
        <label>Password</label>
        <span
          *ngIf="
            loginForm.controls.password?.errors?.required &&
            loginForm.controls.password?.touched
          "
          >*Password is required</span
        >
        <span *ngIf="loginForm.controls.password?.errors?.minlength"
          >*Password must be at least 6 character</span
        >
      </div>
      <div class="field">
        <button id="submit" type="submit">Login</button>
      </div>
      <div class="signup-link">
        Not a member? <a href="/register">Signup now</a>
      </div>
    </form>
  </div>
</body>
