@import "https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	background-color: #adacac;
}
table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
.header_fixed {
	max-height: 100vh;
	width: 100%;
	overflow: auto;
	border: 1px solid #dddddd;
	thead {
		th {
			position: sticky;
			top: 0;
			background-color: black;
			color: #e6e7e8;
			font-size: 15px;
		}
	}
}
th {
	border-bottom: 1px solid #dddddd;
	padding: 10px 20px;
	font-size: 14px;
}
td {
	border-bottom: 1px solid #dddddd;
	padding: 10px 20px;
	font-size: 14px;
	img {
		height: 60px;
		width: 60px;
		border-radius: 100%;
		border: 5px solid #e6e7e8;
	}
	button {
		margin-left: 20px;
	}
}
tr {
	&:nth-child(even) {
		background-color: #dddddd;
	}
	&:nth-child(odd) {
		background-color: #edeef1;
	}
	&:hover {
		td {
			color: #44b478;
			cursor: pointer;
			background-color: #ffffff;
		}
	}
}
.example-button-row {
	margin-left: -30px;
}
