<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/Farm_home_logo_1.png" alt="FarmHome Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">WELCOME TO FARMHOME</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Message
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/order">
    <mat-icon>border_color</mat-icon> Order
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/agricultural"
  >
    <mat-icon>local_florist</mat-icon> Agricultural
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/history">
    <mat-icon>history</mat-icon> History
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/setting">
    <mat-icon>settings_applications</mat-icon> Setting
  </a>
  <a mat-list-item href="https://weather.com/weather/today" target="blank">
    <mat-icon>wb_sunny</mat-icon> Weather forecast
  </a>
  <a mat-list-item href="https://nongnghiep.vn" target="blank">
    <mat-icon>edit</mat-icon> Agriculture news
  </a>
  <a
    mat-list-item
    href="https://www.youtube.com/c/Si%C3%AAuth%E1%BB%8Bc%C3%A2yc%E1%BA%A3nh/videos"
    target="blank"
  >
    <mat-icon>video_library</mat-icon> Agriculture videos
  </a>
</mat-nav-list>
