<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="container">
    <div class="title">Information</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Nguyen Van A" required />
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="farmerA" required />
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="aaa, city A" required />
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="023042304" required />
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="123" required />
          </div>
          <div class="input-box">
            <span class="details">Edit Password</span>
            <input type="text" placeholder="Confirm your password" required />
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Update" />
        </div>
      </form>
    </div>
  </div>
</body>
