<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="container">
    <div class="title">Add Agricultural</div>
    <div class="content">
      <form name="addProductForm">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" placeholder="Enter name" value = "{{p_product}}" required formControlName="name" />
          </div>
          <div class="input-box">
            <span class="details">Weight</span>
            <input type="text" placeholder="Enter weight" required formControlName="weight" />
          </div>
          <div class="input-box">
            <span class="details">Season</span>
            <input type="text" placeholder="Spring/Summer/Autumn/Winter" required formControlName="season" />
          </div>

          <div class="input-box">
            <span class="details">Date</span>
            <input type="text" placeholder="yyyy-mm-dd" required formControlName="date" />
          </div>
          <form [formGroup]="form" (ngSubmit)="submitForm()" style="display: flex">
            <div class="form-group">
              <input type="file" (change)="uploadFile($event)">
          </div>
            <div class="predict-box">
              <h4>Product: {{p_product}}</h4>
              <h4>Confidence: {{p_confidence}}</h4>
              <button mat-raised-button color="accent" type="submit">Predict</button>
            </div>
          </form>
        </div>
        <div class="button" >
          <input value="Submit" style="text-align:center !important"/>
        </div>
      </form>
    </div>
  </div>
</body>